{% extends 'base.html' %}
{% block content %}
<h2 class="section-title">{{ t['title_featured'] }}</h2>
<div class="grid">
    <div class="card">
        <div class="thumb racer"></div>
        <h3>NEON RIDER PRO</h3>
        <a href="{{ url_for('play', game_id='racer') }}" class="btn-play">LAUNCH</a>
    </div>
    <div class="card">
        <div class="thumb breach"></div>
        <h3>CYBER BREACH</h3>
        <a href="{{ url_for('play', game_id='breach') }}" class="btn-play">LAUNCH</a>
    </div>
</div>
{% endblock %}
